/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */
 @font-face {
  font-family: "姚体";
  src: url("/assets/font/FZYTK.TTF");
}

@font-face {
  font-family: "颜宋简体";
  src: url("https://zerlei.cn/fonts/FZYanSJW.TTF");
}

@font-face {
  font-family: "楷体";
  src: url("https://zerlei.cn/fonts/simkai.ttf");
}

@font-face {
  font-family: "中宋";
  src: url("https://zerlei.cn/fonts/STZHONGS.TTF");
}
@font-face {
  font-family: "准颜简体";
  src: url("https://zerlei.cn/fonts/FZY3JW.TTF");
}

@font-face {
  font-family: "一线天";
  src: url("https://zerlei.cn/fonts/FZYiXTJW-R.TTF");
}

@font-face {
  font-family: "赵孟頫楷书";
  src: url("https://zerlei.cn/fonts/FZZhaoMFKSJF.TTF");
}
@font-face {
  font-family: "柳公权楷体";
  src: url("https://zerlei.cn/fonts/FZLiuGQKSJW.TTF");
}

.vp-doc p {
  font-family:"颜宋简体";
  font-size: large;
}
.vp-doc ul {
  font-family: "楷体";
  font-size: large;
}
.vp-doc ol {
  font-family: "楷体";
  font-size: large;
}

