/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */
/* @font-face {
  font-family: "姚体";
  src: url("https://zerlei.cn/FZYTK.TTF");
}

@font-face {
  font-family: "颜宋简体";
  src: url("https://zerlei.cn/fonts/FZYanSJW.TTF");
}

@font-face {
  font-family: "楷体";
  src: url("https://zerlei.cn/fonts/simkai.ttf");
}

@font-face {
  font-family: "中宋";
  src: url("https://zerlei.cn/fonts/STZHONGS.TTF");
}
@font-face {
  font-family: "准颜简体";
  src: url("https://zerlei.cn/fonts/FZY3JW.TTF");
}

@font-face {
  font-family: "一线天";
  src: url("https://zerlei.cn/fonts/FZYiXTJW-R.TTF");
}

@font-face {
  font-family: "赵孟頫楷书";
  src: url("https://zerlei.cn/fonts/FZZhaoMFKSJF.TTF");
}
@font-face {
  font-family: "柳公权楷体";
  src: url("https://zerlei.cn/fonts/FZLiuGQKSJW.TTF");
} */

/* :root { */
/*   --vp-c-bg: #DFECD5; */
/*   --vp-c-bg-alt: #DFECD5; */
/*   --vp-c-bg-elv: #DFECD5; */
/*   --vp-c-bg-soft: #DFECD5; */
/* } */
/* .dark { */
/*   --vp-c-bg: #1b1b1f; */
/*   --vp-c-bg-alt: #161618; */
/*   --vp-c-bg-elv: #202127; */
/*   --vp-c-bg-soft: #202127; */
/* } */
.VPContent.is-home {
  height: calc(100vh - 70px);
}
.vp-doc ul,
.vp-doc ol {
  padding-left: 2.25rem;
  margin: 16px 0;
  font-size: 95%;
  /* font-weight: light; */
  /* font-style: italic; */
}
/* .mermaid {
  background-color: #fcffba;
} */
.vp-doc h1 {
  &::before {
    position: absolute;
    height: calc(100%);
    width: 7px;
    background: #fecc11;
    content: '';
    border-radius: 5px;
    margin-left: -17px;
  }
  padding-left: 12px;
}
.vp-doc h2 {
  &::before {
    position: absolute;
    height: calc(100% - 24px);
    width: 6px;
    background: #ee3f4d;
    content: '';
    border-radius: 5px;
    margin-left: -15px;
  }
  padding-left: 10px;
}
.vp-doc h3 {
  &::before {
    position: absolute;
    height: calc(100%);
    width: 5px;
    background: #1ba784;
    content: '';
    border-radius: 5px;
    margin-left: -10px;
  }
  padding-left: 7px;
}
.vp-doc h4 {
  &::before {
    position: absolute;
    height: calc(100%);
    width: 4px;
    background: #219ebe;
    content: '';
    border-radius: 4px;
    margin-left: -10px;
  }
  padding-left: 8px;
}
:root {
  --vp-c-bg: #FAFAF9;
  --vp-c-bg-alt: #F6F6F7;
}
.dark {
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-text-1: rgba(213,206,205, 0.9);
  --vp-c-text-2: rgba(235, 235, 245, 0.6);
  --vp-c-text-3: rgba(235, 235, 245, 0.38);
}
